rfdetr
supervision
rfdetr[train,loggers]
rfdetr[metrics]
onnx
onnxruntime-gpu
rapidocr-onnxruntime
torchmetrics

# Core Machine Learning
tensorflow>=2.15.0
numpy
scikit-learn
keras

# Metrics (optional)
wandb
matplotlib
seaborn

# Utilities
opencv-python
requests
pillow
streamlit

