rfdetr
supervision
rfdetr[train,loggers]
rfdetr[metrics]
onnx
onnxruntime-gpu
rapidocr-onnxruntime
torchmetrics

# Core Machine Learning
tensorflow
numpy
scikit-learn
keras

# Metrics (optional)
wandb
matplotlib
seaborn

# NLP
transformers
torch

# Utilities
opencv-python
requests
pillow
streamlit

